{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block styles %}
<link href="/css/leaflet.css" rel="stylesheet">
<link href="/css/MarkerCluster.css" rel="stylesheet">
<link href="/css/MarkerCluster.Default.css" rel="stylesheet">
<link href="/css/style2.css" rel="stylesheet">
{% endblock %}
{% block body %}
{% include "nav.html" %}
<div id="map"></div>
{% endblock %}
{% block scripts %}
<script src="/js/leaflet.js"></script>
<script src="/js/leaflet-providers.js"></script>
<script src="/js/leaflet.markercluster.js"></script>
<script src="/js/test.js"></script>
{% endblock %}
